<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/Admin/Index"><i class="fa fa-fw fa-dashboard"></i> <strong> Admin </strong> </a>
        </li>
        <li>
            <a href="~/Admin/charts">View Product</a>
        </li>
         
        
        
        <li>
            <a href="~/Admin/forms">Add Product</a>
        </li>
        <li>
            <a href="../Home/Index" style="color:white"><strong>BackToHome</strong></a>
            </li>
        <li>
            <a href="/Admin/logout">Logout</a>
        </li>
    </ul>
</div>