<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<head>
<link rel="stylesheet" href="~/Content/ok1.css">
<script type="text/javascript" src="~/Scripts/ok.js"></script>    
</head>


<div class="login">
  <div class="login-header">
    <h1>Login</h1>
  </div>
  <div class="login-form">
      <form action="/Admin/Admin_Home" method="post">
    <h3>Username:</h3>
    <input type="text" name="username" placeholder="Username"/><br>
    <h3>Password:</h3>
    <input type="password" name="password" placeholder="Password"/>
    <br>
    <input type="submit" value="Login" class="login-button"/><br /><br />
          <a href="~/Home/index" style="color:white">Back To Home</a>
    <br>
      </form>
  </div>
</div>

