<!--<!DOCTYPE html>-->
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prospera Free - New Amazing HTML5 Template</title>
    <link rel="stylesheet" href="~/Content/components.css">
    <link rel="stylesheet" href="~/Content/responsee.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.css">
    <link rel="stylesheet" href="~/Content/lightcase.css">
    <link rel="stylesheet" href="~/Content/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="~/Scripts/modernizr.js"></script>
    <script type="text/javascript" src="~/Scripts/responsee.js"></script>
    <script type="text/javascript" src="~/Scripts/validation.js"></script> 
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>
  
  
  <body class="size-1140">
  
    <!-- HEADER -->
    @Html.Partial("/Views/Home/_header.cshtml");
    
    <!-- MAIN -->
  <!--  <main role="main"> -->
      <!-- Content -->
      <article>
        <header class="section background-primary text-center">
            <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">Al-Qadri DawaKhana</h1>
        </header>
        <div class="section background-white"> 
          <div class="line">
            <div class="margin text-center">
              <div class="s-12 m-12 l-4 margin-bottom">
                <div class="padding-2x block-bordered border-radius">
                  <img src="~/images/08.png" alt="" title="Asli Nuskha-e-Khas" />
                  <p> <br> <p>
                  <p class="margin-bottom-30" style="text-align:left">“Asli Nuskha-e-Khas” effectively helps against
                       all diseases in along with  Night emission, Erection 
                      dysfunction by enabling proper blood supply to penis and one can get 
                      erection hard and long enough for sex. Thus it helps to increase satisfaction 
                      of intercourse for men and increases Intra-vaginal ejaculatory latency time.
                     <p><br></p>
                  </p>
                  @*<a class="button border-radius background-primary text-size-12 text-white text-strong" href="/">GET MORE INFO</a>*@
                </div>
              </div>
              <div class="s-12 m-12 l-4 margin-bottom">
                <div class="padding-2x block-bordered border-radius">
                  <img src="~/images/09.png" alt="" title="Nuskha-eBawasiri" />
                  <p><br></p>
                  <p class="margin-bottom-30" style="text-align:left">
                      Piles (commonly known as hemorrhoids) are varicosties (dilatation) of rectal veins.
                       Piles results from an increase in the rectum which cause obstruction of rectal veins.
                       This obstruction cause dilatation of veins and finally results in a lump formation known
                       as Piles. Piles may present inside or outside the anus and resumed as external & 
                      internal hemorrhoids respectively.</p>
                  @*<a class="button border-radius background-primary text-size-12 text-white text-strong" href="/">GET MORE INFO</a>*@
                </div>
              </div>
              <div class="s-12 m-12 l-4 margin-bottom">
                <div class="padding-2x block-bordered border-radius">
                  <img src="~/images/10.png" alt="" title="Shahi Tila Oil Therapy"/>
                  <p><br></p>
                  <p class="margin-bottom-30" style="text-align:left">If you are afraid of marriage because of weakness. 
                      You have destroyed your health. Good news for patients. 
                      Don’t worry! Use "Shahi Tila Oil Therapy". 
                      A hope for healthy and peaceful life forever.
                     "Shahi Tila Oil Therapy" restores the deficiencies of penis.
                      Strong erection that will satisfy your partner never before. 
                      It has been proven to provide added Vitality and Sexual health.
                  </p>
                 @* <a class="button border-radius background-primary text-size-12 text-white text-strong" href="/">GET MORE INFO</a>*@
                </div>
              </div>
            @*  <div class="s-12 m-12 l-4 margin-bottom">
                <div class="padding-2x block-bordered border-radius">
                  <i class="icon-attachment icon2x text-primary margin-bottom-30"></i>
                  <h2 class="text-thin">Useful</h2>
                  <p class="margin-bottom-30">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                  <a class="button border-radius background-primary text-size-12 text-white text-strong" href="/">GET MORE INFO</a>
                </div>
              </div>
              <div class="s-12 m-12 l-4 margin-bottom">
                <div class="padding-2x block-bordered border-radius">
                  <i class="icon-reorder icon2x text-primary margin-bottom-30"></i>
                  <h2 class="text-thin">Responsive navigation</h2>
                  <p class="margin-bottom-30">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                  <a class="button border-radius background-primary text-size-12 text-white text-strong" href="/">GET MORE INFO</a>
                </div>
              </div>
              <div class="s-12 m-12 l-4">
                <div class="padding-2x block-bordered border-radius">
                  <i class="icon-mail icon2x text-primary margin-bottom-30"></i>
                  <h2 class="text-thin">Responsive components</h2>
                  <p class="margin-bottom-30">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                  <a class="button border-radius background-primary text-size-12 text-white text-strong" href="/">GET MORE INFO</a>
                </div>
              </div> *@
            </div> 
          </div>
          
        </div> 
      </article>
     <!-- </main> -->
    
    <!--FOOTER -->
   @Html.Partial("/Views/Home/_footer.cshtml");
    <script type="text/javascript" src="~/Scripts/jquery.countTo.js"></script>
    <script type="text/javascript" src="~/Scripts/parallax.min.js"></script> 
    <script type="text/javascript" src="~/Scripts/lightcase.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.events.touch.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.js"></script>
    <script type="text/javascript" src="~/Scripts/typed.min.js"></script> 
    <script type="text/javascript" src="~/Scripts/template-scripts.js"></script>
     
   </body>
</html>