<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prospera Free - New Amazing HTML5 Template</title>
    <link rel="stylesheet" href="~/Content/components.css">
    <link rel="stylesheet" href="~/Content/responsee.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.css">
    <!--<link rel="stylesheet" href="css/lightcase.css"> -->
    <link rel="stylesheet" href="~/Content/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="~/Scripts/modernizr.js"></script>
    <script type="text/javascript" src="~/Scripts/responsee.js"></script>
    <script type="text/javascript" src="~/Scripts/validation.js"></script> 
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>
  
  
  <body class="size-1140">
  
    <!-- HEADER -->
    @Html.Partial("/Views/Home/_header.cshtml");
    
    <!-- MAIN -->
    <!-- <main role="main"> -->
      <!-- Content -->
      <article>
          <div class="section background-white"> 
          <div class="line">
              
              <p style="text-align: justify;"><strong>What is Asthma? </strong></p>
              <p style="text-align: justify;">Asthma causes difficulty in breathing.
                   This disease is caused in the airways of lungs where usually
                   swelling or narrowing take place, leading to wheezing, shortness 
                  of breath, chest tightness, and coughing.

              </p>
              <p style="text-align: justify;">It is usually cause due to inflammation (swelling)
                   in the airways. When the attack of this disease takes place, it becomes difficult
                   for the air to pass through the linings of the lungs conveniently.
                   This can greatly reduce the amount of oxygen that has to enter the blood
                   circulation for proper growth and strength of the body.

              </p>
              <div class="line">
              <div class="margin">
                <div class="s-12 m-12 l-6 margin-m-bottom-30">
            <h2 style="text-align: justify;"><strong>Symptoms of Asthma</strong></h2>
                <p style="text-align: justify;">Some of the common asthma symptoms are:</p>
                <ul style="text-align: justify;">
                <li>Wheezing </li>
                <li>Bluish color of lips, face, and other body parts</li>
                <li>Decrease in alertness of mind, getting confused, and severe asthma attack</li>
                <li>Extremely difficult breathing</li>
                <li>Increased rate of pulse</li>
                <li>Severe anger because of shortage of breath, leading to serious breathing problems</li>
                <li>Sweating</li>
                <li>Abnormal breathing patterns</li>
                <li>Breathing can stop</li>
                <li>Chest pain</li>
                <li>Tightness of breasts</li>
                </ul>
                    </div>
                    </div>
                  </div>
        </div>
              </div>
          </article>
 @Html.Partial("/Views/Home/_footer.cshtml");
    <script type="text/javascript" src="~/Scripts/jquery.countTo.js"></script>
    <script type="text/javascript" src="~/Scripts/parallax.min.js"></script> 
    <script type="text/javascript" src="~/Scripts/lightcase.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.events.touch.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.js"></script>
    <script type="text/javascript" src="~/Scripts/typed.min.js"></script> 
    <script type="text/javascript" src="~/Scripts/template-scripts.js"></script>
     
   </body>
</html>