<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prospera Free - New Amazing HTML5 Template</title>
    <link rel="stylesheet" href="~/Content/components.css">
    <link rel="stylesheet" href="~/Content/responsee.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.css">
    <!--<link rel="stylesheet" href="css/lightcase.css"> -->
    <link rel="stylesheet" href="~/Content/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="~/Scripts/modernizr.js"></script>
    <script type="text/javascript" src="~/Scripts/responsee.js"></script>
    <script type="text/javascript" src="~/Scripts/validation.js"></script> 
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>
  
  
  <body class="size-1140">
  
    <!-- HEADER -->
    @Html.Partial("/Views/Home/_header.cshtml");
    
    <!-- MAIN -->
    <!-- <main role="main"> -->
      <!-- Content -->
      <article>
          <div class="section background-white"> 
          <div class="line">
                <h1 class="title">All Natural and Herbal Remedies for Irritable Bowel Syndrome (IBS)</h1>
              <p style="text-align: justify;">If you are struggling hard to control your IBS then you will be                   happy to know about some natural remedies and herbs that are                   thought to be helpful in digestive problems. If compared with                   traditional allopathic medication, herbal treatment has very few                   side effects and can be followed safely on long term basis. Although,                   allopathic medicines undergo an organized testing procedure for safety                   purpose before sending to market. This is a strong plus point that herbal                   remedies don’t have.

              </p>
              </div>
              </div>
          </article>
 @Html.Partial("/Views/Home/_footer.cshtml");
    <script type="text/javascript" src="~/Scripts/jquery.countTo.js"></script>
    <script type="text/javascript" src="~/Scripts/parallax.min.js"></script> 
    <script type="text/javascript" src="~/Scripts/lightcase.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.events.touch.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.js"></script>
    <script type="text/javascript" src="~/Scripts/typed.min.js"></script> 
    <script type="text/javascript" src="~/Scripts/template-scripts.js"></script>
     
   </body>
</html>