<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AlQadriDawakhana</title>
    <link rel="stylesheet" href="~/Content/components.css">
    <link rel="stylesheet" href="~/Content/responsee.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.css">
    <link rel="stylesheet" href="~/Content/lightcase.css">
    <link rel="stylesheet" href="~/Content/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="~/Scripts/modernizr.js"></script>
    <script type="text/javascript" src="~/Scripts/responsee.js"></script>
    <script type="text/javascript" src="~/Scripts/validation.js"></script> 
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>
  
  
  <body class="size-1140">
  @Html.Partial("/Views/Home/_header.cshtml");
      <article>
        <div class="section background-white"> 
          <div class="line">
            <h2 class="text-size-30">Introduction</h2>
                <p style="text-align:justify">   I would like to ask you an easy question.
                     Are you lastly prepared to lead a life, where you never have to concern 
                    about getting and maintaining a rock hard erection? 
                    If so this will be one of the most significant messages you will ever read.</p>
                <p style="text-align:justify"> See the reality is that almost every man will bear
                     from one form or another of erectile dysfunction (ED) in their lifetime. 
                    The problem is that merely a fraction of these men will seek trained medical 
                    help to resolve their problem. I have more than 10 years of practice as one of the
                     top sexologists in Pakistan come across many cases, where men affliction from ED 
                    (Impotence) have come in for psychotherapy and treatment only when their love life 
                    had come to the flouting point, they had absent all their self confidence and this 
                    had started to involve not only their individual relationships but also their work.</p>
                <p style="text-align:justify"> They had tried all kinds of self medication like using the general version of Viagra, tried getting treatments from Quacks etc. This led them to not only spending great amount of money which got them partial or no results, but more prominently they put their health to huge risk. But at least they made the conclusion to seek specialized medical help for their problem, and they are now existing sexually satisfying lives.</p>
                <p style="text-align:justify"> You have to comprehend that Erectile Dysfunction is prevalent among men of all ages, from their 20&#8217;s to 70&#8217;s. It is a corporeal problem which can be caused by diabetes, high blood pressure, heart ailments, prostate cancer and injuries to the groin part. Psychological reasons like intellectual pressure, peer pressure and performance anxiety along with lifestyle choices like smoking, unhealthy eating habits, violence can also activate Impotence or loss of erection.</p>
            <div class="line">
              <div class="margin">
                <div class="s-12 m-12 l-6 margin-m-bottom-30">
                    <h4>    Erectile Dysfunction Can Be Overcome</h4>
                    <p style="text-align:justify"> Unfortunately majority of men affliction from Impotence will never approach a sexologist to talk about their problem, because they are uncomfortable discussion about their inability to continue erection during sexual intercourse.</p>
                    <h4>    You don&#8217;t have to go through protracted pain and anguish&#8230;</h4>
                    <p style="text-align:justify"> Our Counseling will ensure that you can beat ED and&#8230;</p>
                    <ul>
                    <li>    You can start having impulsive sex… whenever you want to, wherever you want to.</li>
                    <li>    100% Privacy Guaranteed! Your personal detail will never be shared with any third party.</li>
                    <li>    You will never have to concern about arguments and misunderstandings that occur between you and your partner because of you not being able to perform in bed, due to lack of a solid erection!(immediately ending the emotional chaos that destroys so many relationships).</li>
                    <li>    You and your spouse will not only enjoy an wonderful sex life together but also be able to reconnect expressively</li>
                    <li>    Your erection will not go flexible during sexual intercourse, even if you are abstracted or interrupted in the act.</li>
                    <li>    You will experience an intense climb in your libido (sexual desire).</li>
                    <li>    Your anxiety over performing will disappear into thin air, you will never have to strain over having and maintaining your erection ever again.</li>
                    <li>    You will eradicate all yourself worries and appear as a fully confident person… Your co- workers and colleagues will speculate about this amazing modify in your personality.</li>
                    <li>    Fast rotate time on your online consultation means that you can start humanizing your sex life immediately.</li>
                    </ul>
                     </div>
              </div>  
            </div>
          </div>
        </div> 
      </article>

       @Html.Partial("/Views/Home/_footer.cshtml"); 
  </body>
    </html>