<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AlQadriDawakhana</title>
    <link rel="stylesheet" href="~/Content/components.css">
    <link rel="stylesheet" href="~/Content/responsee.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.css">
    <link rel="stylesheet" href="~/Content/lightcase.css">
    <link rel="stylesheet" href="~/Content/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="~/Scripts/modernizr.js"></script>
    <script type="text/javascript" src="~/Scripts/responsee.js"></script>
    <script type="text/javascript" src="~/Scripts/validation.js"></script> 
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>
  
  
  <body class="size-1140">
  @Html.Partial("/Views/Home/_header.cshtml");
      <article>
          <div class="section background-white"> 
          <div class="line">
      <p><h2>We are providing Consultation, Knowledge and Treatments for the Followings:</h2></p>
<ol>
<li>LOSS OF LIBIDO (This is a situation in which Female is bright to have Sex but don’t want to have Sex, Low Sex longing)</li>
<li>LACK OF ENJOYMENT DURING INTERCOURSE (The Condition where Female is not in situation to Enjoy the Act of SEX)</li>
<li>DRYNESS OF VAGINA DURING INTERCOURSE (Dryness in Female&#8217;s Vagina at time of Act of Sex)</li>
<li>ABSENT ORGASM in Female</li>
<li>LACK OF CONFIDENCE (The Condition where Female feels scared of Sex)</li>
<li>SEXUAL DEPRESSION (It is a mental position in which, an Female who Considers Her Sexuality is as Boring, inactive and Gloomy)</li>
<li>SEXUAL APATHY (It is entirely unconcerned attitude of a Female for Sex towards Her Partner)</li>
<li>Sex therapy for a Female and Couple</li>
<li>How to have initial Sex Knowledge and instructions for a Female and Couple</li>
<li>Tips to Improve Sex Life for a Female and Couple</li>
<li>Fear due to pessimistic Attitude of a Female about Sex</li>
<li>Premarital Sex Problems of a Female</li>
<li>Sex Problems of a Female after Marriage</li>
<li>Resolving Sex connected Myths of a Female</li>
<li>Hesitation in Female from Having Sex</li>
<li>How can a Female Improve Sex Life with Exercise</li>
<li>Weakness after Sex or Masturbation in a Female</li>
<li>Lack of assurance in a Female due to Sex Problems</li>
<li>Burning in Female&#8217;s Vagina after Sex or Masturbation</li>
</ol>
              </div>
              </div>
              </article>
       @Html.Partial("/Views/Home/_footer.cshtml"); 
   
</body>