<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AlQadriDawakhana</title>
    <link rel="stylesheet" href="~/Content/components.css">
    <link rel="stylesheet" href="~/Content/responsee.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.css">
    <link rel="stylesheet" href="~/Content/lightcase.css">
    <link rel="stylesheet" href="~/Content/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="~/Scripts/modernizr.js"></script>
    <script type="text/javascript" src="~/Scripts/responsee.js"></script>
    <script type="text/javascript" src="~/Scripts/validation.js"></script> 
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>
  
  
  <body class="size-1140">
  @Html.Partial("/Views/Home/_header.cshtml");
      <article>
      <div class="section background-white"> 
          <div class="line">
              <h1 style="text-align:left">Premature Ejaculation</h1>
      <p>Premature Ejaculation is one of the most general sexual problems faced by men today. It is designate by a man ejaculating immediately during sexual intercourse; it creates a problem if the ejaculation occurs before or just after sexual intercourse begins.<br />
This is a very frustrating problem for men and can cause displeasure not only for himself but also for his partner. It can lead to pessimistic consequences for their relationship such as pressure and loss of intimacy between the partners. Men who bear from this condition usually feel loss of self confidence and low self regard. Another problem that it can cause is problems with fertility, some couples may locate it very hard to imagine and have children, if it is not treated correctly.</p>
<p>The causes of P.E. include erectile dysfunction, concern about sexual performance, relationship problems, irregular hormone levels, certain types of thyroid problems and unusual levels of neurotransmitters (brain chemicals).</p>
<p>Providentially, this problem is treatable and we take pride in our record of productively treating our patients. The treatment consists of identifying both the psychological as well as physical factors of each individual case and treating them with one or a combination of analysis and different techniques to relieve them of this embarrassing problem.</p>
<p>If you suffer from this problem then we powerfully recommend that you take an online consultation to treat yourself from it as soon as possible and be on your way back to not only enjoying sex again by lasting longer during sexual intercourse but also pleasing your partner in bed. This will lead you to recover your self confidence and earn back your partners respect.</p>
      </div>
          </div>
          </article>
              @Html.Partial("/Views/Home/_footer.cshtml");
</body>