<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prospera Free - New Amazing HTML5 Template</title>
    <link rel="stylesheet" href="~/Content/components.css">
    <link rel="stylesheet" href="~/Content/responsee.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.css">
    <!--<link rel="stylesheet" href="css/lightcase.css"> -->
    <link rel="stylesheet" href="~/Content/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="~/Scripts/modernizr.js"></script>
    <script type="text/javascript" src="~/Scripts/responsee.js"></script>
    <script type="text/javascript" src="~/Scripts/validation.js"></script> 
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>
  
  
  <body class="size-1140">
  
    <!-- HEADER -->
    @Html.Partial("/Views/Home/_header.cshtml");
    
    <!-- MAIN -->
    <!-- <main role="main"> -->
      <!-- Content -->
      <article>
          <div class="section background-white"> 
          <div class="line">
          <p style="text-align: justify;">Health is a big concern nowadays, especially               when it comes to stomach. No one is safe from stomach issues.               Everyone faces it at least once. Stomach troubles also affect your               food and as a result it deeply affects your mood and attitude.               Let’s list down some common stomach issues starting from the mild ones to the severe ones.

          </p>               <div class="line">
              <div class="margin">
                <div class="s-12 m-12 l-6 margin-m-bottom-30">              <ol style="text-align: justify;">
                <li>Acid Reflux</li>
                <li>Indigestion</li>
                <li>Gas</li>
                <li>Constipation</li>
                <li>Lactose Intolerance</li>
                <li>Food Allergies</li>
                <li>Food Poisoning</li>
                <li>Stomach Viruses</li>
                <li>Ulcers</li>
                <li>Gallstones</li>
                <li>Appendicitis</li>
                <li>Crohn’s Disease</li>
                </ol>                    <p><strong>Herbal Treatment</strong></p>                    <p>Herbal treatment is much more effective and have fairly                         zero side effects as compared to the above mentioned stomach                         problems treatments. Herbal products from <strong>Alqadri Dawakhana</strong>                         are tested many times and have a history of successful treatment of 
                        almost every stomach ailment like ulcer.

                    </p>                    </div>                    </div>
                  </div>
        </div>
              </div>
          </article>
 @Html.Partial("/Views/Home/_footer.cshtml");
    <script type="text/javascript" src="~/Scripts/jquery.countTo.js"></script>
    <script type="text/javascript" src="~/Scripts/parallax.min.js"></script> 
    <script type="text/javascript" src="~/Scripts/lightcase.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.events.touch.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.js"></script>
    <script type="text/javascript" src="~/Scripts/typed.min.js"></script> 
    <script type="text/javascript" src="~/Scripts/template-scripts.js"></script>
     
   </body>
</html>